*.xcframework filter=lfs diff=lfs merge=lfs -text
*.DS_Store filter=lfs diff=lfs merge=lfs -text
/LICENSE filter=lfs diff=lfs merge=lfs -text
*.podspec filter=lfs diff=lfs merge=lfs -text
*.plist filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/App.xcframework/ios-arm64/App.framework/App filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/App.xcframework/ios-arm64/App.framework/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.Z filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.arb filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.frag filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/App.xcframework/ios-arm64/dSYMs/App.framework.dSYM/Contents/Resources/DWARF/App filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/App.xcframework/ios-arm64_x86_64-simulator/App.framework/App filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/App.xcframework/ios-arm64_x86_64-simulator/App.framework/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/Flutter.xcframework/_CodeSignature/CodeDirectory filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/Flutter.xcframework/_CodeSignature/CodeRequirements filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/Flutter.xcframework/_CodeSignature/CodeRequirements-1 filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/Flutter.xcframework/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/Flutter.xcframework/_CodeSignature/CodeSignature filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/Flutter.xcframework/ios-arm64/Flutter.framework/Flutter filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.modulemap filter=lfs diff=lfs merge=lfs -text
*.xcprivacy filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/Flutter.xcframework/ios-arm64/Flutter.framework/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/Flutter.xcframework/ios-arm64/dSYMs/Flutter.framework.dSYM/Contents/Resources/DWARF/Flutter filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Flutter filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/Flutter.xcframework/ios-arm64_x86_64-simulator/dSYMs/Flutter.framework.dSYM/Contents/Resources/DWARF/Flutter filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/FlutterPluginRegistrant.xcframework/ios-arm64/FlutterPluginRegistrant.framework/FlutterPluginRegistrant filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/FlutterPluginRegistrant.xcframework/ios-arm64_x86_64-simulator/FlutterPluginRegistrant.framework/FlutterPluginRegistrant filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/FlutterPluginRegistrant.xcframework/ios-arm64_x86_64-simulator/FlutterPluginRegistrant.framework/_CodeSignature/CodeDirectory filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/FlutterPluginRegistrant.xcframework/ios-arm64_x86_64-simulator/FlutterPluginRegistrant.framework/_CodeSignature/CodeRequirements filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/FlutterPluginRegistrant.xcframework/ios-arm64_x86_64-simulator/FlutterPluginRegistrant.framework/_CodeSignature/CodeRequirements-1 filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/FlutterPluginRegistrant.xcframework/ios-arm64_x86_64-simulator/FlutterPluginRegistrant.framework/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/FlutterPluginRegistrant.xcframework/ios-arm64_x86_64-simulator/FlutterPluginRegistrant.framework/_CodeSignature/CodeSignature filter=lfs diff=lfs merge=lfs -text
*.swiftsourceinfo filter=lfs diff=lfs merge=lfs -text
*.swiftinterface filter=lfs diff=lfs merge=lfs -text
*.swiftdoc filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/UmoAuthSdk.xcframework/ios-arm64/UmoAuthSdk.framework/UmoAuthSdk filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/UmoAuthSdk.xcframework/ios-arm64_x86_64-simulator/UmoAuthSdk.framework/UmoAuthSdk filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/UmoAuthSdk.xcframework/ios-arm64_x86_64-simulator/UmoAuthSdk.framework/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/amplify_auth_cognito.xcframework/ios-arm64/amplify_auth_cognito.framework/amplify_auth_cognito filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/amplify_auth_cognito.xcframework/ios-arm64/dSYMs/amplify_auth_cognito.framework.dSYM/Contents/Resources/DWARF/amplify_auth_cognito filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/amplify_auth_cognito.xcframework/ios-arm64_x86_64-simulator/amplify_auth_cognito.framework/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/amplify_auth_cognito.xcframework/ios-arm64_x86_64-simulator/amplify_auth_cognito.framework/amplify_auth_cognito filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/amplify_secure_storage.xcframework/ios-arm64/amplify_secure_storage.framework/amplify_secure_storage filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/amplify_secure_storage.xcframework/ios-arm64/dSYMs/amplify_secure_storage.framework.dSYM/Contents/Resources/DWARF/amplify_secure_storage filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/amplify_secure_storage.xcframework/ios-arm64_x86_64-simulator/amplify_secure_storage.framework/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/amplify_secure_storage.xcframework/ios-arm64_x86_64-simulator/amplify_secure_storage.framework/amplify_secure_storage filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/device_info_plus.xcframework/ios-arm64/dSYMs/device_info_plus.framework.dSYM/Contents/Resources/DWARF/device_info_plus filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/device_info_plus.xcframework/ios-arm64/device_info_plus.framework/device_info_plus filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/device_info_plus.xcframework/ios-arm64_x86_64-simulator/device_info_plus.framework/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/device_info_plus.xcframework/ios-arm64_x86_64-simulator/device_info_plus.framework/device_info_plus filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/integration_test.xcframework/ios-arm64/dSYMs/integration_test.framework.dSYM/Contents/Resources/DWARF/integration_test filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/integration_test.xcframework/ios-arm64/integration_test.framework/integration_test filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/integration_test.xcframework/ios-arm64_x86_64-simulator/integration_test.framework/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/integration_test.xcframework/ios-arm64_x86_64-simulator/integration_test.framework/integration_test filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/package_info_plus.xcframework/ios-arm64/dSYMs/package_info_plus.framework.dSYM/Contents/Resources/DWARF/package_info_plus filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/package_info_plus.xcframework/ios-arm64/package_info_plus.framework/package_info_plus filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/package_info_plus.xcframework/ios-arm64_x86_64-simulator/package_info_plus.framework/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/package_info_plus.xcframework/ios-arm64_x86_64-simulator/package_info_plus.framework/package_info_plus filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/path_provider_foundation.xcframework/ios-arm64/dSYMs/path_provider_foundation.framework.dSYM/Contents/Resources/DWARF/path_provider_foundation filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/path_provider_foundation.xcframework/ios-arm64/path_provider_foundation.framework/path_provider_foundation filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/path_provider_foundation.xcframework/ios-arm64_x86_64-simulator/path_provider_foundation.framework/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/dist/UmoAuthSdk/path_provider_foundation.xcframework/ios-arm64_x86_64-simulator/path_provider_foundation.framework/path_provider_foundation filter=lfs diff=lfs merge=lfs -text
